.App {
  text-align: center;
}
.App-header {
  background-color:black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header-color{
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.nav-black{
  background-color: black;
  text-align: center;
}
.header-color a:hover {
  background-color: #dd80a1;
  color: black;
}
.font-cell {
    font-size: 16px;
    color : black;
    font-family: 'Dosis', sans-serif;
}
.font-cell2{
    color: white;
    font-size: 45px;
    padding: 1em;
    font-family: 'Dosis', sans-serif;
}

.font-text {
  font-size: 20px;
  color: black;
  text-align: center;
  position: fixed;
  left: 0;
  top: 50%;
  width: 100%;
}
.landing-grid{
  background: whitesmoke;
  text-align: center;
}
.avatar-img{
  height:  250px;
  width: 250px;
  border-radius: 20%;
}
.color-pink{
  background-color: pink;
}
.home-body{
  margin: auto;
  background-color: #fbc7d4;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.home-gride{
  text-align: center;
  justify-content: center;
  width: 100%;
  background: black;
  color: white;
  border: 2px solid black;
  margin-bottom: 20px;

}
.banner-text{
  margin: auto;

}
.banner-texttap{
    margin: auto;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    text-align: center;

}
.banner-texttap h3{
    font-size: 50px;
    color : black;
    font-family: 'Dosis', sans-serif;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    text-align: center;
}
.banner-text h3{
    font-size: 50px;
    color : black;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}
.banner-text h1{
  font-size: 25px;
  color : white;
    font-family: 'Dosis', sans-serif;

}
.banner-text li{
    font-size: 25px;
    color : white;
    font-family: 'Dosis', sans-serif;
    text-align: left;
}
.banner-text h2{
  width: 100%;
  font-size: 60px;
  color : white;
    font-family: 'Dosis', sans-serif;
}
.banner-text p{
  color: white;
  font-size: 45px;
  padding: 1em;
    font-family: 'Dosis', sans-serif;
}
.banner-text h4{
    font-size: 25px;
    color : black;
    font-family: 'Dosis', sans-serif;
    text-align: left;
}
.picture-text{
  font-size: 60px;
  padding-top: 400px;
  color: white;
}
.aboutme-page{
    background-color: lightgoldenrodyellow;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

}
.aboutme-pagepink {
    background-color: pink;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.activity-grid{
    display:flex;
    background-color: #fbc7d4;
    width: 100%;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


